project:
  type: book
  output-dir: docs
book:
  title: "quarto"
  author: "Norah Jones"
  date: "2026/2/19"
  chapters:
    - index.qmd
    - intro.qmd
    - summary.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt

editor: visual

